.message-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.message{
    position: relative;
    /* background-color: #f1f3f4; */
    background-color: #333233;
    color: white;
    max-width: 70%;
    min-width: 70px;
    padding:1.5% 1% 2% 1%;
    margin: .25% 1%;
    border-radius: 15px;
    font-family: "Quicksand";
    letter-spacing: 1px;
    border-bottom-left-radius: 0px;
    overflow-wrap: break-word;
    align-self: stretch;
}
.message span{
    position: absolute;
    bottom: .25rem;
    right: 5%;
    font-size: .5rem;
    color: rgb(206, 206, 255);
}
.own{
    flex-direction: row-reverse;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
}
.reply-to{
    box-sizing: border-box;
    width: 100%;
    max-height: 100px;
    background-color:  #424042;
    padding-right: 10px;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}
.reply-to-bar{
    width: 3px;
    min-height: 50px;
    align-self: stretch;
    margin-right: 10px;
    background-color:rgb(114, 114, 231);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.reply-to-name{
    /* margin-top: 5px; */
    font-weight: 600;
    color: rgb(183, 183, 255);
}
.reply-to-text{
    font-size: .85rem;
    margin-top: 5px;
    overflow-y: hidden;
    max-height: 40px;
    max-width : 188px;
    overflow-wrap: break-word;
}
@media screen and (max-width:976px){
    .message{
        padding:3.5% 3% 5% 3%;
        margin: .75% 3%;
        font-size: .8rem;
    }
    .reply-to-text{
        font-size: .7rem;
    }
}