.notifications{
    width: calc(100vw - 300px);
    height: calc(100vh - 53.6px);
    margin-top: 53.6px;
    padding: 1rem 3rem 0 3rem;
    box-sizing: border-box;
    flex-direction: column;
}

.notifications::-webkit-scrollbar{
    display: none;
}

.notifications-na{
    font-size: 3rem;
    color: rgb(209, 208, 208);
    font-family: Quicksand;
    align-self: center;
    text-align: center;
}

@media screen and (max-width : 977px){
    .notifications{
        width: 100vw;
    }
}

@media screen and (max-width : 548px){
    .notifications{
        padding: 1rem 0 0 0;
    }
}